.content{
    margin-top: 10rem;
    margin-left: 2rem;
    display:inline-block;
}
.content_reviews{
    margin-top: 5rem;
}
.content_book{

    display: inline-flex;
    flex-wrap: nowrap;

}
.details{
    margin-left: 5rem;
    flex-grow: 2;
    text-align: center;
}
.button{
    border-radius: 5rem;
    height: 6rem;
    margin-top: 2rem;
    margin-left: 6rem;
    border: none;
    background-color: #f8dcb5;
    transition: background-color 1s, transform 0.3s;
}
.button:hover{
    background-color: #2a3334;
    color: white;
    transform: rotate(360deg);
}
.button:focus{
    background-color: #f8dcb5;
}

