.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: inline-flex;
    margin-top: 1rem;
    margin-right: 5rem;
    margin_left: 5rem;
    border-radius: 2px;

}
.card_width{
    width:80%;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}
.center {
    margin: auto;
    padding: 10px;
    text-align:center;
}
.img {
    max-height: 400px;
    min-height: 400px;
}
.search_form{
    width: 60%;
    display:inline-block;
}
.expand_button{
    background-color: inherit;
    border: none;
}
.expand_button:focus{
    background-color: inherit;

}
.content{
    margin-right: 20rem;
    margin-left: 20rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 30rem;
}


@keyframes rotateCard {
    from{

    }

}
