.content_cart{
    text-align: center;
}
.content_book_preview{
    width: 30rem;

}
.preview_cart{
    margin-top: 10rem;
    display: inline-flex;
}
.image_cart{
    width: 20rem;
}
.arrow{
    margin-top: 15rem ;

}
.arrow_left{
    margin-right: 10rem;
}
.arrow_right{
    margin-left: 10rem;
}
.active_arrow:hover{
    cursor:pointer;
}
