.App {
  text-align: center;
  background-color: #FAFAFA;
  margin-top: 60px;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;

}
.App-list {
  background-color: cornflowerblue;
  list-style-type: disc;
  font-family: "Century Gothic";
  font-size: large;
}
.grid {
  max-height: 20px;
  height: 20px;
}
.App-intro {
  font-size: medium;
}
.Cards{
  max-width: 500px;
  max-height: 500px;
}
.bookcover{
  height: 600px;
  width: 60%;

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #f8dcb5;
    overflow: hidden;
    position:fixed;
    top: 0px;
    width:100%;
    z-index:1;
     display: inline-block;

}
.left{
  float:left;
}
.right{
  float:right;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #454449;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #454449;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.logo {
        margin-left: auto;
        margin-right: 2rem;
    }
